a {
  color: #1F618D !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

a:hover {
  color: #2980B9 !important;
}

.material-icons {
  display: inline-flex !important;
  vertical-align: top !important;
  padding-right: 7px;
}

.size-h2 {
  font-size: 2.0rem;
}

.img-profile {
  width: 100% !important;
  max-width: 270px !important;
}